<p id="notice"><%= notice %></p>

<h1><%= @user.name %></h1>

<% @user.entries.each do |e| %>
 <p><%=e.title%></p>
 <p><%=e.user_id%></p>
<%end%>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
